doctype 5
html(lang="en")
  head
    meta(charset="utf-8") 
    meta(content="IE=edge",http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    meta(content="" name="description")
    meta(content="" name="author")
    link(href="ico/favicon.png" rel="shortcut icon")
    title="Spartan Storage"
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/jasny-bootstrap.min.css') 
    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
  body
    block content