extends layout

block content
  link(rel='stylesheet', href='/stylesheets/signin.css')

  div(class="container")
    form(class="form-signin" action="/signup" method="post")
        h2(class="form-signin-heading") Create your account     
        input(name="firstname", type="text", class="form-control", placeholder="First Name", required="", autofocus="")
        input(name="lastname", type="text", class="form-control", placeholder="Last Name", required="", autofocus="")
        input(name="email", type="text", class="form-control", placeholder="Email Address", required="", autofocus="")
        input(name="activationkey", type="text", class="form-control", placeholder="Activation Key", required) 
        input(name="password", type="password", class="form-control", placeholder="Password", required) 
        label(class="checkbox")
        button(class="btn btn-lg btn-primary btn-block", type="submit") Create Account