body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.table-hover tbody tr.highlight td { 
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}